In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sn

In [18]:
traffic = pd.read_csv('traffic.csv')

In [19]:
traffic

,시 구분,출근도착,등교도착,학원도착,업무도착,쇼핑도착,여가오락친교도착,귀가도착,기타도착,총목적도착
0,수원시,439007,196726,82416,82492,120491,110480,1145717,237167,2414496
1,성남시,587659,161901,95693,102832,71234,121716,988808,227134,2356977
2,의정부시,122362,59092,30964,21826,43071,43502,394788,86665,802270
3,안양시,273166,105756,42031,48973,55289,56911,584791,115077,1281994
4,부천시,316033,124085,69240,47244,104861,73557,840657,154644,1730321
5,광명시,109114,41891,17390,20469,39205,35650,344008,55868,663595
6,평택시,231204,65859,33791,52070,71716,81575,461220,155321,1152756
7,동두천시,35381,12916,5779,10064,7283,10107,97340,20984,199854
8,안산시,358772,109032,61178,93807,43181,71592,694931,168146,1600639
9,고양시,357926,136842,70776,65658,96460,137616,955331,212047,2032656
10,과천시,61811,8634,3885,5765,3888,31771,74860,15729,206343
11,구리시,75904,23336,16164,10787,20941,30210,182217,38173,397732
12,남양주시,143708,90320,29797,18931,32941,60674,626972,98803,1102146
13,오산시,52201,43325,21704,6972,12263,22499,189973,42960,391897
14,시흥시,189705,61727,32443,61822,18154,31329,398521,108640,902341
15,군포시,120393,39270,18401,12692,13600,29868,291982,54271,580477
16,의왕시,68049,19716,8770,6101,5218,13264,155673,22158,298949
17,하남시,100737,20853,8637,19440,10092,21192,180846,34248,396045
18,용인시,355635,193033,85850,66003,71466,158372,940537,237616,2108512
19,파주시,186524,58324,25660,34771,46884,44304,395073,104239,895779
20,이천시,90805,29579,10270,9695,14783,22320,178993,38195,394640
21,안성시,106057,35769,8560,14749,8155,12203,190058,36484,412035
22,김포시,171336,50680,18244,28382,23952,27459,351540,72289,743882
23,화성시,428887,119740,31096,65074,39001,48440,644600,154883,1531721
24,광주시,111018,30339,18214,18336,17266,30259,272004,70848,568284
25,양주시,93139,31772,10169,9056,8907,19165,196188,34156,402552
26,포천시,99794,28705,5666,17236,9883,11588,151260,31670,355802
27,여주시,55543,13906,5234,3130,5626,11538,99129,23097,217203
28,연천군,20726,3556,723,2272,1360,3921,43731,8131,84420
29,가평군,28182,5063,2312,5716,2797,5895,53749,19895,123609
30,양평군,47401,10551,3635,5000,6657,13027,107311,30063,223645

In [20]:
tdf2 = traffic[["출근도착", "등교도착", "학원도착", "업무도착", "쇼핑도착", "여가오락친교도착", "귀가도착"]]
tdf2

      출근도착    등교도착   학원도착    업무도착    쇼핑도착  여가오락친교도착     귀가도착
0   439007  196726  82416   82492  120491    110480  1145717
1   587659  161901  95693  102832   71234    121716   988808
2   122362   59092  30964   21826   43071     43502   394788
3   273166  105756  42031   48973   55289     56911   584791
4   316033  124085  69240   47244  104861     73557   840657
5   109114   41891  17390   20469   39205     35650   344008
6   231204   65859  33791   52070   71716     81575   461220
7    35381   12916   5779   10064    7283     10107    97340
8   358772  109032  61178   93807   43181     71592   694931
9   357926  136842  70776   65658   96460    137616   955331
10   61811    8634   3885    5765    3888     31771    74860
11   75904   23336  16164   10787   20941     30210   182217
12  143708   90320  29797   18931   32941     60674   626972
13   52201   43325  21704    6972   12263     22499   189973
14  189705   61727  32443   61822   18154     31329   398521
15  120393   39270  18401   12692   13600     29868   291982
16   68049   19716   8770    6101    5218     13264   155673
17  100737   20853   8637   19440   10092     21192   180846
18  355635  193033  85850   66003   71466    158372   940537
19  186524   58324  25660   34771   46884     44304   395073
20   90805   29579  10270    9695   14783     22320   178993
21  106057   35769   8560   14749    8155     12203   190058
22  171336   50680  18244   28382   23952     27459   351540
23  428887  119740  31096   65074   39001     48440   644600
24  111018   30339  18214   18336   17266     30259   272004
25   93139   31772  10169    9056    8907     19165   196188
26   99794   28705   5666   17236    9883     11588   151260
27   55543   13906   5234    3130    5626     11538    99129
28   20726    3556    723    2272    1360      3921    43731
29   28182    5063   2312    5716    2797      5895    53749
30   47401   10551   3635    5000    6657     13027   107311

In [21]:
td_lable = traffic[["시 구분"]]
td_lable

    시 구분
0    수원시
1    성남시
2   의정부시
3    안양시
4    부천시
5    광명시
6    평택시
7   동두천시
8    안산시
9    고양시
10   과천시
11   구리시
12  남양주시
13   오산시
14   시흥시
15   군포시
16   의왕시
17   하남시
18   용인시
19   파주시
20   이천시
21   안성시
22   김포시
23   화성시
24   광주시
25   양주시
26   포천시
27   여주시
28   연천군
29   가평군
30   양평군

In [31]:
mergings = linkage(tdf2)

# Plot the dendrogram, using varieties as labels
plt.figure(figsize=(40,20))
plt.figure(figsize=(40,20))
dendrogram(mergings,
           labels = 
           leaf_rotation=0,
           leaf_font_size=20,
)
plt.show()

SyntaxError: invalid syntax (<ipython-input-31-64e1d1da5f86>, line 8)